* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.card h5 {
  font-weight: bolder;
  text-align: center;
}

.card p {
  font-weight: lighter;
  color: gray;
  text-align: center;
  font-family: arial, helvetica, sans-serif;
}

#cards {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#cards:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#cards>img{
  height: 400px;
  width: 400px;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
div{
  display: block;
}
body{
  background-color: rgb(255, 255, 255);
}
.lll{
  background: linear-gradient(to right, rgba(0,0,0,0.1)0%,rgba(0,0,0,0.1)50%,rgba(0, 0, 0, 0.1)50%,rgba(0, 0, 0, 0.1)100%), url('./team.jpeg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;
  margin: auto;
}

.box-1 a{
  text-decoration: none; 
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  text-align: center;
  margin-left: 43%;
  margin-right: 43%;
  margin-top: 1rem;
  font-weight: 600;
  font-family: 'Libre Franklin', sans-serif;
  box-sizing: border-box;
  display: inline-block;
}


.policies{
  width: 100%;
  margin-top: 5rem;
}

.policies .container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 150px;
  justify-content: center;
  margin : 1rem;
  position: relative;
  border-radius: 5px;
  transition: 0.5s;
  background-color: rgb(248, 248, 248);
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  margin : 1rem;
  border-radius: 5px;
}

.container2 .box-1{
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
   border-radius: 5px;
   position: relative;
   padding: 2rem;
   margin: 1rem;
  background-color: rgb(248, 248, 248);
}

.box{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 50%;
}

.policies .container .tittle h2{
  text-align: center;
  font-family: 'Jost', sans-serif;
 font-size: 30px;
 
 line-height: 2;
 color: rgb(48, 48, 48);
}
.row{
  display: flex;
  height: 65%;
  align-items: center;
}
.col{
  flex-basis: 90%;
  color: #fff;
}

.col p{

   text-align: center;
   font-family: 'Jost', sans-serif;
  font-size: 26px;
  line-height: 2;
  font-weight: lighter;
}

.col h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight:bold;
  background-color: #66666694;
  padding: 0.5rem;
  margin-left: 40%;
  margin-right: 40%;
}

.infos{
  width: 90%;
  background-color: #fff;
  border-radius: 10px;
  padding: 2%;
  margin-left: 5%;
  margin-top: 2rem;
}

.map{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: black;
  justify-content: center;
  margin-top: -5px;
}

.map-box2{
  width: 500px;
}

.map-box1{
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
  margin-top: 5%;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 10px;
}

.box{
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  width: 100%;
  padding: 5%;

  margin: auto;
}

.map-box1 p{
  width: 100%;
  flex-wrap: wrap;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  color: rgb(27, 27, 27);
}

.map-box1 h2{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: rgb(65, 137, 231);
  font-weight:normal;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  line-height: 1.5;
  flex-wrap: wrap;
}

.box h1{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: rgb(65, 137, 231);
  font-weight:normal;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.5;
  padding-left: 6%;
  padding-right: 6%;
}

.box p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.7;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: rgb(65, 65, 65);
}

.box p span{
    font-weight: bolder;
}

.box p a{
    color: rgb(29, 80, 247);
    text-decoration: none;
}

.box .box-div{
    padding-top: 1rem;
}

@media screen and (max-width:768px) {
  .infos .box h1  {
    font-size: 20px;
  }
  .infos .box p {
    font-size: 15px;
  }
  .col p{
    font-size: 15px;
  }
}

.bgimg{
width: 100%;
height: 720px;
background-image: url('../Images/Home_Header.jpg');
background-size: 100% 100%;
background-attachment:fixed;
}
.navbar{
content: "";
top: 0%;
bottom:0%;
left:0%;
right:0%;
opacity: .8;
background: #000000;
}

.policies .container::after{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
word-wrap: break-word;
overflow: hidden;
text-align: center;
background-color: #000000;
color: rgb(255, 255, 255);
padding: 25px;
opacity: 0;
content: attr(data-text);
}
.policies .container:hover::after{
opacity: 1;
}
.container2{
  
}

.container2 .box-1::after{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
word-wrap: break-word;
overflow: hidden;
text-align: center;
background-color: #000000;
color: rgb(255, 255, 255);
padding: 25px;
opacity: 0;
content: attr(data-text);
}
.container2 .box-1:hover::after{
opacity: 1;
}

.catagory{
padding: 1rem 0 2rem 0;
}

.catagory p{
text-align: center;
font-family: 'Jost', sans-serif;
margin-bottom: 6rem;
}

.catagory h1{
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 35px;
font-weight: normal;
color: rgb(0, 0, 0);
margin-bottom: 1rem;
}

.catagory-container{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
align-items: center;
text-align: center;
max-width: 1200px;
width: 100%;
margin: auto;
}
.catagory-container h1{
color: rgb(255, 255, 255);
font-family: 'Montserrat',  sans-serif;
}


.catagory-box1{
max-width: 240px;
padding: 1%;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
text-align: center;
}
#k{
margin-bottom: 0;
}

.catagory-box1 img{
width: 100%;
  height: 250px;
  margin: auto;
}

.catagory-box1 h2{
padding: 15px;
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: 20px;
}

.catagory-box1 p{
  color: rgb(66, 66, 66);
  padding-bottom:1rem;
}



.catagory-box1:hover{
transform:scale(1.07);
transition:all ease 0.3s;
}
